html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
infomary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*기본 설정*/
body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'pretendard';
    color: #111;
}

a {
    text-decoration: none;
    color: #111;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

h2.mobile {
    font-size: 20px;
    text-align: center;
    font-family: 'jalnan';
    margin-bottom: 60px;
}

.sec {
    padding-bottom: 80px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    line-height: 0px;
    font-size: 0px;
}

.is-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.is-grid {
    display: grid;
}


/* 모바일 헤더 */
header {
    width: 100%;
    height: 70px;
    position: relative;
    left: 0;
    top: 0;
}

header>h1 {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 8px;
    left: 0;
    padding-left: 6px;
}

div.header_inner {
    margin: 0 auto;
    width: 100%;
    padding: 18px 2%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;

}

div.header_inner>button {
    font-size: 24px;
}

/* 모바일 비쥬얼 */
section.visual {
    width: 100%;
    min-height: 200px;
    position: relative;
    left: 0;
    top: 0;
}

ul.visual_list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

ul.visual_list>li {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 3%;
    box-sizing: border-box;
}

ul.visual_list>li>a>img {
    width: 100%;
}


/*모바일 카테고리 */
section.m_category {
    margin-top: 60px;
    width: 100%;
    height: auto;
}

div.m_category_inner {
    width: 100%;
    height: auto;
    padding: 0 16px 60px;
    box-sizing: border-box;
}

ul.m_category_list {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5em;
}

p.m_category_img {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 10px;
}

p.m_category_img>img {
    width: 100%;
}

p.m_category_title {
    width: 100%;
    height: 24px;
    background-color: #444;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    border-radius: 8px;
    transition: .3s ease;
}

ul.m_category_list>li:hover p.m_category_title {
    background-color: #FF7008;
    font-weight: bold;
}


.gn {
    background-color: #EDFFDE;
}

.ye {
    background-color: #FFFDCE;
}

.pu {
    background-color: #ebecff;
}

.pk {
    background-color: #ffdede;
}

.bl {
    background-color: #ebfeff;
}




/* 모바일 배너 */
section.m_banner {
    width: 100%;
    height: 700px;
    padding-bottom: 40px;
}

div.m_top_banner {
    width: 100%;
    height: 336px;
    background: url(/mobile/images/banner0.jpg) no-repeat center center;
    background-size: cover;
}

div.m_middle_banner {
    width: 100%;
    height: 168px;
    background: url(/mobile/images/banner1.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 8px;
}

div.m_bottom_banner {
    margin-top: 8px;
    width: 100%;
    height: 168px;
    background: url(/mobile/images/banner2.jpg) no-repeat center center;
    background-size: cover;
}



/* 모바일 랭크 */
section.rank {
    width: 100%;
    height: 500px;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 40px;
    overflow: hidden;
}

div.rank_img_wrap {
    width: 150px;
    height: 300px;
    position: relative;
    left: 5%;
    top: 0;
}

ul.rank_img_list {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

ul.rank_img_list>li {
    position: absolute;
    top: 0;
    left: 0;
}

ul.rank_img_list>li>a>img {
    width: 100%;
}

div.rank_text_wrap {
    width: 52%;
    height: 200px;
    position: absolute;
    right: 5%;
    top: 40%;
}

div.rank_num {
    width: 150px;
    height: 80px;
    position: relative;
    left: 0;
    top: 0;
}

div.rank_num>p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

div.rank_num>p>span {
    font-size: 60px;
    margin: 0 4px;
}

button.rank_btn {
    position: absolute;
    font-size: 20px;
    top: 35%;
}

button.prev_btn {
    left: 0;
}

button.next_btn {
    right: 0;
}

p.rank_name {
    font-size: 24px;
    font-weight: bold;
}

p.rank_text {
    font-size: 14px;
    line-height: 150%;
    margin-top: 8px;
}


/* 모바일 레시피 */
section.recipe {
    width: 100%;
    height: auto;
    background-color: #FF7008;
    padding: 40px 0;
}

section.recipe>h2 {
    color: white;
}

div.recipe_inner {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

ul.recipe_list {
    width: 100%;
    height: 100%;
}

ul.recipe_list>li:first-child {
    margin-right: 3%;
}

p.recipe_img {
    border-radius: 8px;
    overflow: hidden;
}

p.recipe_img>img {
    width: 100%;
}

p.recipe_title {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 6px;
}

p.recipe_nicname {
    color: white;
    font-size: 12px;
    margin-top: 6px;
}

p.recipe_nicname::before {
    font-weight: 200;
    content: '@';
    margin-right: 4px;
}

div.recipe_mark {
    color: white;
    font-weight: 300;
    /* width: 49%; */
    width: 80px;
    margin-top: 8px;
}

div.recipe_mark_inner {
    font-size: 12px;
}

button.heart_btn,
button.bookmark_btn {
    color: white;
    background: none;
    border: none;
    font-size: 12px;
    margin-right: 0px;
    margin-left: -5px;
}


/* 모바일 팁 */
section.m_tip {
    width: 100%;
    padding: 60px 20px;
    box-sizing: border-box;
    height: auto;
}

p.m_tip_img {
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
}

p.m_tip_img>img {
    width: 100%;
}

p.m_tip_title {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
}

p.m_tip_text {
    width: 100%;
    margin: 0 auto;
    margin-top: 14px;
    line-height: 150%;
    font-size: 14px;
}


/* 모바일푸터 */
footer {
    width: 100%;
    height: 300px;
    background-color: #222;
    position: relative;
    left: 0;
    top: 0;
}

footer>h2 {
    width: 140px;
    height: 40px;
    position: absolute;
    left: 5%;
    top: 45px;
}

div.footer_inner {
    width: 240px;
    height: 80px;
    position: absolute;
    top: 130px;
    left: 5%;
}

p.footer_text {
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 12px;
}

p.copyright {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 5%;
    bottom: 45px;
}