/*header*/
.header_wrap{
    width: 100%;
    height: 80px;
    /* height: 340px; */
    
    padding-top: 30.5px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80px,rgba(255,112,8,.9) 80px,rgba(255,112,8,.9) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 22;
}
.header{
    width: 1200px;
    /* height: 80px; */
    /* height: 320px; */
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 0;
    align-items:flex-start;

    z-index: 2;
}
.logo{
    width: 140px;
    height: 40px;
    margin-top: -16px;
}
nav.mainmenu{
    width: 40%;
    /* height: 80px; */
}
ul.mainmenu_list{
    width: 100%;
    height: 100%;
}
ul.mainmenu_list>li{
    height: 100%;
    font-weight: 600;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
}
div.search{
    width: 2%;
    text-align: right;
}

ul.submenu_list{
    display: none;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 0;
}
ul.submenu_list>li{
    margin-top: 16px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
ul.submenu_list>li>a{
    color: white;
}


@media screen and (max-width:1080px){

    nav.mainmenu{
        width: 46%;
    }

  }

@media screen and (max-width:1200px) {
    .header{
        width: 100%;
        min-width: 768px;
    }
    .logo{
        margin-left: 30px;
    }
    div.search{
        margin-right: 30px;
    }
}