/*category*/
section.category {
    height: 300px;
    position: relative;
    left: 0;
    top: 0;
  }
  
  div.category_inner {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 4.5%;
    box-sizing: border-box;
  }
  

  
  p.category_img {
    width: 100%;
    height: 172px;
    margin-bottom: 12px;
    border-radius: 16px;
  }
  
  p.category_title {
    width: 100%;
    height: 34px;
    background-color: #444;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 34px;
    border-radius: 8px;
    transition: .3s ease;
  }
div.category_box:hover p.category_title{
    background-color: #FF7008;
    /* color: #111; */
    font-weight: bold;
  }
  
  .gn {
    background-color: #EDFFDE;
  }
  
  .ye {
    background-color: #FFFDCE;
  }
  
  .pu {
    background-color: #ebecff;
  }
  .pk{
    background-color: #ffdede;
  }
  .bl{
    background-color: #ebfeff;
  }




  @media screen and (max-width:1200px) {

    p.category_img>img{
      width: 100%;
    }
    div.category_inner{
        width: 90%;
    }

    p.category_img{
        height: auto;
    }
   

  }

  @media screen and (max-width:1080px){

  }