div#category_swiper {
    width: 100%;
    overflow:visible !important;
}


div#category_swiper .swiper-button-prev {
    left: -30px !important;
    color: black;
    z-index: 2;
    top: 45%;
    --swiper-navigation-size:24px;
}
div#category_swiper .swiper-button-next{
    color: black;
    right: -30px;
    top: 45%;
    --swiper-navigation-size:24px;
}

/* .swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    opacity: 0.5;
    padding: 15px 5px;
    border-radius: 20px;
    color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
} */