section.tip{
    height: auto;
}
section.tip>h2{
    padding-top: 120px;
}
p.tip_img{
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
p.tip_title{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 600;
}
p.tip_text{
    width: 70%;
    margin: 0 auto;
    margin-top: 16px;
    line-height: 150%;
    font-size: 14px;
}