p.product_img>img{
    width: 100%;
}
p.product_en_name{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    margin-top: 30px;
    line-height: 150%;
}
p.product_ko_name{
    text-align: center;
    font-size: 0.875em;
    margin-top: 4px;
    margin-bottom: 120px;
}
